@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: white;
}

main {
    overflow: hidden;

    display: flex;
    flex-grow: 1;
    max-height: 90vh;
}

body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body .blackground {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    gap: 10px
}

header p {
    font-weight: 700;
    font-size: 1.7rem;
    color: purple;
    margin-top: 3%;
    margin-left: 2%;
}

.saturn {
    width: 50px;
}

.image-container {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar {
    display: flex;
    flex-direction: row;
}

.toolbar-buttons-container {
    width: 60px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.toolbar-buttons-top {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}

.toolbar-buttons-center {
    display: flex;
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.toolbar-buttons-bottom {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}


.toolbar-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #1F1F1F;
    transition: all 0.5s ease;
}

.toolbar-container-title {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.toolbar-button {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.icon-button-container:hover {
    background-color: #1F1F1F
}

.toolbar-button:hover {
    background-color: #1F1F1F;
}

.chats-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.chat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: black;
    cursor: pointer;
}

.chat-item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9rem;
    overflow: hidden;
}

.selected-chat {
    background-color: #323232;
}

.hidden {
    width: 0px;
    min-width: 0px;
}

.icon {
    color: white;
    font-size: 2rem;
}

.rotated {
    transform: rotate(90deg);
}

.closed {
    width: 0px;
}

#menu {
    transition: all 0.5s ease
}

.messages {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 50px 10px 50px;
}

.message-container {
    display: flex;
    justify-content: flex-end;
}


.message-container .message {
    position: relative;
    display: flex;
    max-width: 60vw;
    background-color: rgb(41, 38, 38);
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    border: 2px solid purple;
}

.message .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    align-self: center;
    right: -35px;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.message .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.message pre {
    word-break: break-all;
    overflow: hidden;
    text-wrap: wrap;
}

.message-container[bot] .message {
    padding-left: 40px;
}

.message-container[bot] {
    justify-content: flex-start;
}


.message-container[bot] .image-container {
    justify-content: flex-start;
    left: -20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: stretch;
    margin-bottom: 10px;
}

input {
    padding: 18px;
    flex-grow: 1;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    border-right: none;
    color: white;
    min-width: 0px;
}

input:focus {
    outline: none;
}

.input-container {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #252424;
    border: 2px solid purple;
    border-right: none;
    border-radius: 25px;
    width: auto;
    width: 60%;
}

/* .input-container:hover {
    border: 2px solid purple;
} */

.send-container {
    display: flex;
    background-color: #444444;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
    border: 2px solid purple;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.send-container:hover {
    background-color: purple
}

dialog {
    min-width: 50%;
    align-self: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    border: none;
    /* display: flex; */
    flex-direction: column;
    padding: 10px;
    align-items: center;
    gap: 20px
}

dialog .icon-button-container {
    font-size: 1.4rem;
    position: absolute;
    top: 10px;
    right: 10px
}

dialog:focus {
    outline: none;
}

.profile-info-modal table {
    border-collapse: collapse;
}

.profile-info-modal td {
    border: 1px solid #ddd;
    padding: 8px;
}

.profile-info-modal-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.profile-info-modal-container .dialog-header p {
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}

.create-chat-modal-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dialog-header p {
    font-size: 1.4rem;
    font-weight: 700;
    color: purple;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    gap: 10px;
}

.dialog-content div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.dialog-content input {
    padding: 10px;
    width: 100%;
    border: 1px solid purple;
    border-radius: 10px;

}



.dialog-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
}

button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(128, 0, 128, 0.5);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: purple;
}

/* ::-webkit-scrollbar-thumb:hover {} */


@media screen and (max-width: 820px) {

    body {
        background-image: url("../images/mobile-background.jpg");
    }

    pre {
        white-space: pre-wrap;
        font-size: 0.8rem;
    }

    .messages {
        padding: 0px 25px 10px 15px;
    }

    .message-container .message {
        padding: 15px;
        padding-right: 20px;
        max-width: 70vw;
    }

    .input-container {
        flex-grow: 1;
        margin: 10px 10px;
    }

    .message-container[bot] .message {
        padding-left: 20px;
    }

    .message .image-container {
        right: -18px;
        width: 35px;
        height: 35px;
    }

    dialog {
        min-width: 90%;
    }
}